body{
    background-color: lightgrey;
    
}

#loginBox{
    position: fixed;
    text-align: center;
    left: 25%;
    right:25%;
    top: 20%;
    width: 40%;
    height: 20em;
    background-color: rgba(255, 255, 0, 0.719);
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input{
    width: 65%;
    height: 2em;
    font-size: large ;
}

#userName{
    margin-top: 10%;
}

button{
    background-color: rgba(82, 194, 82, 0.822);
    font-size: large;
    border-radius: 5px;
}

button:hover{
    cursor:pointer;
}